header {
   padding: 2%;
   background-color: #fcde83;
   text-align: center;
   font-family: "Tilt Neon", "Monospace", Verdana, sans-serif;
}

nav {
   display: block;
   color: white;
   background-color: #282829;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   text-align: center;
   font-family: "Tilt Neon", "Monospace", Verdana, sans-serif;
}

#i{
   color: #282829;
}

#footer {
   color: white;
   font-size: 15px;
   text-decoration: none;
   text-align: left;
}

a {
   text-decoration: none;
   color: white;
   font-size: 20px;
   letter-spacing: 3px;
}

div{
   color: #282829;
}


h2 {
   background-color: #282829;
   color: white;
   width: 40%;
   max-width: fit content;
   margin: auto;
   margin-top: 2%;
   text-align: center;
   border-radius: 20px;
   font-family: "Tilt Neon", "Monospace", Verdana, sans-serif;
}

h3 {
   text-align: center;
   color: #282829;
}

div.container {
   text-align: center;
}

div.storelink {
   text-align: center;
   margin-bottom: 1%;
}

#i {
   color: #282829;
   background: #fcde83;
   border: 2px solid #282829;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

#i:hover{
   background-color: #dfc472;
}

ul {
   text-align: left;
   display: inline-block;
   margin: auto;

}
ol{
   text-align: right;
   display:inline-block;
   margin: auto;
}

p {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
figure{
   text-align: center;
   background-color:
}

table.center {
   margin-left: auto;
   margin-right: auto;
}
table,
td,
th {
   border: 1px solid #5c5b5b;
   padding: 8px;
   text-align: center;
   border-collapse: collapse;

}

tr:nth-child(even) {
   background-color: #f2f2f2;
}

tr:hover {
   background-color: #ddd;
}

th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: center;
   background-color: #fcde83;
   color: black;
}