header {
   padding: 2%;
   background-color: #fcde83;
   text-align: center;
   font-family: "Tilt Neon", "Monospace", Verdana, sans-serif;
}

nav {
   display: block;
   color: white;
   background-color: #282829;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   text-align: center;
   font-family: "Tilt Neon", "Monospace", Verdana, sans-serif;
}

p {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

h2 {
   background-color: #282829;
   color: white;
   width: 40%;
   max-width: fit content;
   margin: auto;
   margin-top: 2%;
   text-align: center;
   border-radius: 20px;
   font-family: "Tilt Neon", "Monospace", Verdana, sans-serif;
}

h3 {
   text-align: center;
   color: #282829;
}

a {
   text-decoration: none;
   color: white;
   font-size: 20px;
   letter-spacing: 3px;
}
#websitestore, #faq {
   color: #282829;
   background: #fcde83;
   border: 2px solid #282829;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

#faq:hover {
   background-color: #dfc472;
}


#footer {
   color: white;
   font-size: 15px;
   text-decoration: none;
   text-align: left;
}

div {
   color: #282829;
}


div.container {
   text-align: center;
}

div.storelink {
   text-align: center;
   margin-bottom: 1%;
}


ul {
   text-align: left;
   display: inline-block;
   margin: auto;

}

ol {
   text-align: right;
   display: inline-block;
   margin: auto;
}

figure {
   text-align: center;

}
div.form{
   margin: auto ;
   width: 50%;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 5px;
   text-align: center ;

}

input[type=text], input[type=message]{
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   text-align: center;
   
}
input[type=submit], input[type=reset]{
  background-color: #fcde83;
  color: #282829;
  border: 2px solid #282829;
  margin: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  max-width: fit-content;
}
input[type=submit]:hover, input[type=reset]:hover {
   background-color: #dfc472;
 }

table.center {
   margin-left: auto;
   margin-right: auto;
}
table,
td,
th {
   border: 1px solid #5c5b5b;
   padding: 8px;
   text-align: center;
   border-collapse: collapse;

}

tr:nth-child(even) {
   background-color: #f2f2f2;
}

tr:hover {
   background-color: #ddd;
}

th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: center;
   background-color: #fcde83;
   color: black;
}